.main {
   
    background-image: url('./assets/neumorphism.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 3px solid #a3a3a3;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}
.heading {
    font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    
}
.form-group {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;
    column-gap: 100px;
    align-items: center;

}
.fill {
    border-radius: 30px;
    border: none;
    background-color: #ccc;
    color: #333;
    padding: 10px;
    margin-top: 5px;
    
    
}
.fill:focus {
    background-color: #bbb;
}
.submit-button {
    border-radius: 30px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    
    
    
}

.ss{
    display: flex;
    justify-content: center;
}